body {
    margin: 0%;
}

#estruturaGrid{
    display: grid;
    grid-template-areas: "nav nav nav nav"
                         "section section section section"
                         "footer footer footer footer";
    grid-template-rows: 90px 700px 100px;                   
}

nav{
    grid-area: nav;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
} 
nav div{
    display: flex;
    justify-content: space-between;
}

nav img{
    width: 25%;
}
div > img {
    width: 10%;
}

section{
    grid-area: section;
    background-color: black;
}

footer{
    grid-area: footer;
    background-color: rgba(61, 0, 61, 0.966)
}